@using System.Web.Optimization
@using easygenerator.Web.Components
@using AccountRes

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="content" class="content">
    @if (ViewBag.NavigationLinksAreDisabled == null || !ViewBag.NavigationLinksAreDisabled)
    {
        <div class="account-nav">
            <ul class="account-nav-list">
                <li class="account-nav-item">
                    @Html.NavigationLink(Resources.SignIn, "SignIn", "Account", "account-link-sign-in")
                </li>
                <li class="account-nav-item">
                    @if (this.ViewContext.RouteData.GetRequiredString("controller") == "Account"
                        && (this.ViewContext.RouteData.GetRequiredString("action") == "SignUp"))
                    {
                        @Html.Label(Resources.SignUp, null, new { @class = "account-link-sign-up active" })
                    }
                    else
                    {
                        @Html.ActionLink(Resources.SignUp, "SignUp", ViewContext.RouteData.GetRequiredString("controller"), null, new { @class = "account-link-sign-up" })
                    }
                </li>
            </ul>

        </div>
    }
    @RenderBody()
</section>

@Html.Partial("_googleAnalytics")

@section Scripts
{
    @Scripts.Render("~/bundles/scripts/account")
}
