@using System.Web.Optimization
@using easygenerator.Web.Components
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=640,maximum-scale=1.0">
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="main-container try">
        <header class="page-header try">
            <div class="content-wrapper try">
                <a href="#" class="logo">Logo</a>
            </div>
        </header>
        <div class="content-wrapper try eg-bg-image">
            <div class="account-nav">
                <ul class="account-nav-list">
                    <li class="account-nav-item">
                        @Html.NavigationLink("Try now", "TryNow", "Account", "account-link-try-now")
                    </li>
                    <li class="account-nav-item">
                        @Html.NavigationLink("Sign up", "SignUp", "Account", "account-link-sign-up")
                    </li>
                    <li class="account-nav-item">
                        @Html.NavigationLink("Sign in", "LogIn", "Account", "account-link-sign-in")
                    </li>
                </ul>
            </div>
            @RenderBody()
    </div>
    </div>

    <footer class="footer try">
        <div class="content-wrapper try clearfix">
            <div class="footer-item pull-left">
                <span class="selectable cursor-default">Copyright © 2013  easygenerator. All rights reserved.</span>
            </div>
            <div class="footer-item pull-right">
                <ul class="footer-menu-list">
                    <li class="footer-menu-item">
                        @if (this.ViewContext.RouteData.GetRequiredString("action") == "TermsOfUse")
                        {
                            @Html.Label("Terms of use",null, new {@class = "footer-menu-link active"})
                        }
                        else
                        {
                            @Html.ActionLink("Terms of use", "TermsOfUse", "Account", null, new {@class = "footer-menu-link"})
                        }
                    </li>
                    <li class="footer-menu-item">
                        @if (this.ViewContext.RouteData.GetRequiredString("action") == "PrivacyPolicy")
                        {
                            @Html.Label("Privacy policy",null, new {@class = "footer-menu-link active"})
                        }
                        else
                        {
                            @Html.ActionLink("Privacy policy", "PrivacyPolicy", "Account", null, new { @class = "footer-menu-link" })
                        }
                        
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    @Scripts.Render("~/scripts/accounts")
</body>
</html>
