@using AccountRes
@{
    ViewBag.Title = "RestorePassword";
    Layout = "~/Views/Account/_Layout.cshtml";
}

<section class="view-module password-recovery">
    <div class="user-title">@Resources.PasswordRecovery</div>
    @using (Html.BeginRouteForm("PasswordRecovery", (object)Model, FormMethod.Post, new { id = "passwordRecoveryForm", @class = "user-form" }))
    {
        <div class="user-form-row" data-bind="css : { error: !password.isValid() && password().length > 0, success: password.isValid() }">
            <label class="user-form-label required password">@Resources.PasswordCaption</label>
            <div class="user-form-input-holder">
                <span class="user-form-input-wrapper">
                    <input tabindex="5" class="user-form-input" name="password" autocomplete="off" data-bind="attr: { type: isPasswordVisible() ? 'text' : 'password' }, value: password, valueUpdate: 'afterkeydown', hasFocus: isPasswordEditing" ondrop="return false;" />
                    <a href="#" class="user-form-password-eye" data-bind="css:{ revealed: isPasswordVisible }, click: showHidePassword "></a>
                </span>
                <div class="user-form-tooltip bottom" data-bind="visible: isPasswordEditing()">
                    <div class="user-form-tooltip-title">@Resources.PasswordRequirementsTitle</div>
                    <ul class="user-form-tooltip-list">
                        <li class="user-form-tooltip-list-item">@Resources.BeAtLeast7CharactersLong</li>
                        <li class="user-form-tooltip-list-item">@Resources.ContainAtLeastOneLowerCaseLetter</li>
                        <li class="user-form-tooltip-list-item">@Resources.ContainAtLeastOneUpperCaseLetter</li>
                        <li class="user-form-tooltip-list-item">@Resources.ContainAtLeastOneDigit</li>
                        <li class="user-form-tooltip-list-item">@Resources.NotContainWhitespaceCharacters</li>
                    </ul>
                </div>
            </div>
            <span class="user-form-message" data-bind="visible: password().length > 0, text: password.isValid() ? '@Resources.PasswordIsStrongEnough    ' : '@Resources.PasswordDoesNotMeetRequirements    '"></span>
        </div>
        <div class="user-form-row submit">
            <div class="formBtn" data-bind="css: { disabled: !canSubmit() }">
                <input class="green btn" type="submit" data-bind="enable: canSubmit" value="@Resources.Continue">
            </div>
        </div>
    }
</section>
