@using AccountRes
@{
    ViewBag.Title = "RestorePassword";
    Layout = "~/Views/Account/_Layout.cshtml";
}

<section class="view-module password-recovery">
    <div class="user-title password-recovery">@Resources.PasswordRecovery</div>
    @using (Html.BeginRouteForm("PasswordRecovery", (object)Model, FormMethod.Post, new { id = "passwordRecoveryForm", @class = "user-form password-recovery" }))
    {
        <div class="user-form-row" data-bind="css : { error: !password.isValid() && password().length > 0, success: password.isValid() }, focusHandler: {}">
            <label class="user-form-label password-recovery">@Resources.PasswordCaption</label>
            <div class="user-form-input-holder">
                <span class="user-form-input-wrapper"></span>
                <input tabindex="5" class="user-form-input" name="password" autocomplete="off" data-bind="attr: { type: isPasswordVisible() ? 'text' : 'password' }, value: password, valueUpdate: 'afterkeydown', hasFocus: isPasswordEditing" ondrop="return false;" />

                <a href="#" class="user-form-password-eye" data-bind="css:{ revealed: isPasswordVisible }, click: showHidePassword "></a>
            </div>
            <span class="user-form-message" data-bind="visible: password().length > 0, text: password.isValid() ? '@Resources.PasswordIsStrongEnough    ' : '@Resources.PasswordDoesNotMeetRequirements    '"></span>
        </div>
        <div class="user-form-row submit password-recovery">
            <div class="formBtn" data-bind="css: { disabled: !canSubmit() }">
                <input class="green btn" type="submit" data-bind="enable: canSubmit" value="@Resources.Continue">
            </div>
        </div>
    }
</section>
