@using AccountRes
@{
    ViewBag.Title = Resources.PasswordRecovery;
    Layout = "~/Views/Account/_Layout.cshtml";
}

<section class="view-module password-recovery">
    <div class="user-title password-recovery">@Resources.PasswordRecovery</div>
    @using (Html.BeginRouteForm("PasswordRecovery", (object)Model, FormMethod.Post, new { id = "passwordRecoveryForm", @class = "user-form password-recovery" }))
    {
         <div class="user-form-row" data-bind="css: { error: !password.isValid() && password().length > 0, success: password.isValid() }, focusHandler: {}">
                        <div class="user-form-input-holder password">
                            <span class="user-form-input-wrapper"></span>
                            <input tabindex="3" class="user-form-input" name="password" placeholder="@Resources.PasswordCaption" autocomplete="off" data-bind="attr: { type: isPasswordVisible() ? 'text' : 'password' }, value: password, valueUpdate: 'afterkeydown', hasFocus: isPasswordEditing, placeholder: {}" ondrop="return false;" />
                            <div class="user-form-checkbox-holder password clearfix" data-bind="attr: { title: isPasswordVisible() ? '@Resources.HidePassword' : '@Resources.ShowPassword' } ">
                                <div class="user-form-checkbox password" data-bind="css: { checked: isPasswordVisible }">
                                    <input id="show-hide-password-checkbox" class="custom-checkbox" type="checkbox" data-bind="checked: isPasswordVisible" />
                                </div>
                                <div class="user-form-checkbox-label password">
                                    <label for="show-hide-password-checkbox">@Resources.Show</label>
                                </div>
                            </div>
                        </div>
                        <ul class="password-requirements unstyled">
                            <li class="password-requirements-item">
                                <span class="password-requirements-item-text">Please use:</span>
                            </li>
                            <li class="password-requirements-item">
                                <span class="password-requirements-item-text requirement" data-bind="css: { success: password.hasMoreThanSevenSymbols }">@Resources.NotLessThanSevenSymbols</span>
                            </li>
                            <li class="password-requirements-item">
                                <span class="password-requirements-item-text requirement" data-bind="css: { success: password.hasSpaces }">@Resources.NoSpaces</span>
                            </li>
                        </ul>
                    </div>
        <div class="user-form-row submit password-recovery">
            <div class="formBtn">
                <input class="green btn user-form-btn" type="submit" data-bind="enable: canSubmit, css: { disabled: !canSubmit() }" value="@Resources.Continue">
            </div>
        </div>
    }
</section>
