@using AccountRes

@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Account/_Layout.cshtml";
}
<section class="view-module sign-up">
    <div class="user-columns">
        <div class="user-column form">
            <div class="user-title">@SignUp.CreateAccountTitle</div>
            <form class="user-form" id="signUpForm" action="#" method="post">
                <div class="user-form-row" data-bind="css : { error: !userName.isValid() && userName().length > 0, success: userName.isValid() }">
                    <label class="user-form-label email">@SignUp.EmailCaption</label>
                    <div class="user-form-input-holder">
                        <input class="user-form-input" type="text" name="email" data-bind="value: userName, valueUpdate: 'afterkeydown', event: { blur: checkUserExists  }" />
                    </div>
                    <span class="user-form-message" data-bind="visible: !userName.isValid() && userName().length > 0, text: userExists() ? '@SignUp.AccountAlreadyExists    ' : '@SignUp.EnterValidEmailMessage    '"></span>
                </div>
                <div class="user-form-row" data-bind="css : { error: !password.isValid() && password().length > 0, success: password.isValid() }">
                    <label class="user-form-label password">@SignUp.PasswordCaption</label>
                    <div class="user-form-input-holder show-tooltip">
                        <input class="user-form-input" name="password" data-bind="attr: { type: isPasswordVisible() ? 'text' : 'password' }, value: password, valueUpdate: 'afterkeydown', hasFocus: isPasswordEditing" />
                        <a href="#" class="user-form-password-eye" data-bind="css:{ revealed: isPasswordVisible }, click: showHidePassword "></a>
                        <div class="user-form-tooltip" data-bind="visible: isPasswordEditing()">
                            <div class="user-form-tooltip-title">@SignUp.PasswordRequirementsTitle</div>
                            <ul class="user-form-tooltip-list">
                                <li class="user-form-tooltip-list-item">@SignUp.BeAtLeast7CharactersLong</li>
                                <li class="user-form-tooltip-list-item">@SignUp.ContainAtLeastOneLowerCaseLetter</li>
                                <li class="user-form-tooltip-list-item">@SignUp.ContainAtLeastOneUpperCaseLetter</li>
                                <li class="user-form-tooltip-list-item">@SignUp.ContainAtLeastOneDigit</li>
                                <li class="user-form-tooltip-list-item">@SignUp.ContainAtLeastOneSpecialCharacter</li>
                                <li class="user-form-tooltip-list-item">@SignUp.NotContainWhitespaceCharacters</li>
                            </ul>
                        </div>
                    </div>
                    <span class="user-form-message" data-bind="visible: password().length > 0, text: password.isValid() ? '@SignUp.PasswordIsStrongEnough    ' : '@AccountRes.SignUp.PasswordDoesNotMeetRequirements    '"></span>
                </div>
                <div class="user-form-row submit">
                    <div class="user-form-checkbox-holder clearfix">
                        <div class="user-form-checkbox" data-bind="css: {checked: isLicenseAgreed}"></div>
                        <div class="user-form-checkbox-label">
                            <label for="uf-checkbox">
                                @Html.Raw(String.Format(SignUp.LicenseAgreeCheckBoxTitle, Url.Action("TermsOfUse", "Account"), Url.Action("PrivacyPolicy", "Account")))
                            </label>
                        </div>
                    </div>
                    <div class="formBtn" data-bind="css: { disabled: !(isLicenseAgreed() && userName.isValid() && password.isValid()) }">
                        <input class="orange btn" type="submit" value="@SignUp.SignUpButton" data-bind="enable: isLicenseAgreed() && userName.isValid() && password.isValid(), click: signUp">
                    </div>
                </div>
            </form>
        </div>
        <div class="user-column image">
            <img class="user-column-image" src="~/Content/images/account/sign-up.png" alt="#" />
        </div>
    </div>

    <div class="social-block">
        <ul class="social-block-list">
            <li class="social-block-item">
                <a href="#" class="social-block-link facebook">
                    <span class="social-block-link-text">facebook</span>
                </a>
            </li>
            <li class="social-block-item">
                <a href="#" class="social-block-link youtube">
                    <span class="social-block-link-text">youtube</span>
                </a>
            </li>
            <li class="social-block-item">
                <a href="#" class="social-block-link linkedin">
                    <span class="social-block-link-text">linkedin</span>
                </a>
            </li>
            <li class="social-block-item">
                <a href="#" class="social-block-link twitter">
                    <span class="social-block-link-text">twitter</span>
                </a>
            </li>
        </ul>
    </div>
</section>
