@using AccountRes
@{
    ViewBag.Title = Resources.SignUp;
    Layout = "~/Views/Account/_Layout.cshtml";
}

<section class="view-module sign-up-second-step">
    <div class="user-columns">
        <div class="user-column form">
            <div class="user-title">@Resources.CreateAccountTitle</div>
            <div class="user-form-row">
                <label class="user-form-caption">@Resources.HowManyPeopleQuestion</label>
                <div class="user-form-input-holder">
                    <div class="user-form-selectbox" data-bind="selectBox: { options: [ { name: '1' }, { name: '2' }, { name: '3-5' }, { name: '5-10' }, { name: '>10' }], optionsText: 'name', optionsValue: 'name', value: peopleBusyWithCourseDevelopmentAmount, defaultText: '@Resources.ChooseAnswer' }"></div>
                </div>
            </div>
            <div class="user-form-row">
                <label class="user-form-caption">@Resources.WhenDoYouNeedToolQuestion</label>
                <div class="user-form-input-holder">
                    <div class="user-form-selectbox" data-bind="selectBox: { options: [ { name: '@Resources.Now' }, { name: '@Resources.Variant1Month' }, { name: '@Resources.VariantMore3Months' }, { name: '@Resources.JustLooking' }], optionsText: 'name', optionsValue: 'name', value: needAuthoringTool, defaultText: '@Resources.ChooseAnswer' }"></div>
                </div>
            </div>
            <div class="user-form-row">
                <label class="user-form-caption">@Resources.HowAuthorTodayQuestion</label>
                <div class="user-form-input-holder">
                    <div class="user-form-selectbox" data-bind="selectBox: { options: [ { name: '@Resources.PowerPoint' }, { name: '@Resources.AnotherTool' }, { name: '@Resources.Nothing' }, { name: '@Resources.Other' }], optionsText: 'name', optionsValue: 'name', value: usedAuthoringTool, defaultText: '@Resources.ChooseAnswer' }"></div>
                </div>
            </div>
            <div class="user-form-row">
                <div class="formBtn pull-left">
                    <input type="button" class="grey btn user-form-btn" value="@Resources.Skip" data-bind="click: signUp, css: { 'disabled': isSignupRequestPending() }">
                </div>
                <div class="formBtn pull-right">
                    <input type="button" class="orange btn user-form-btn" value="@Resources.Finish" data-bind="click: signUp, css: { 'disabled': isSignupRequestPending() }">
                </div>
            </div>
        </div>
    </div>
</section>
