@using ViewsResources
@{
    ViewBag.Title = Resources.SignUp;
    Layout = "~/Views/Account/_Layout.cshtml";
}

<section class="view-module sign-up-second-step">
    <div class="user-columns">
        <div class="user-column form">
            <div class="user-title">@Resources.SignUpSecondStepTitle</div>
            <form id="signUpForm" data-bind="focusHandler: {}, submit: signUp" action="#" method="post">
                <div class="user-form-row-combiner">
                    <div class="user-form-row" data-bind="css: { error: isCountryErrorVisible(), success: isCountrySuccessVisible() }">
                        <div class="user-form-input-holder selectbox">
                            <div class="user-form-selectbox" data-bind="selectBox: { options: countries, optionsText: 'name', optionsValue: 'name', value: country, defaultText: '@Resources.ChooseYourCountry', filter: true, tabindex: 2 }"></div>
                        </div>
                        <span class="user-form-message" data-bind="visible: isCountryErrorVisible()">@Resources.EnterValidCountry</span>
                    </div>
                    <div class="user-form-row pull-right" data-bind="css: { error: isPhoneErrorVisible(), success: !isPhoneErrorVisible() && phone.isValid() }">
                        <div class="user-form-input-holder">
                            <span class="user-form-input-wrapper"></span>
                            <input tabindex="3" class="user-form-input phone" type="text" name="phone" placeholder="@Resources.PhoneNumberCaption" data-bind="value: phone, valueUpdate: 'afterkeydown', event: { blur: validatePhone, focus: onFocusPhone }" ondrop="return false;" />
                            <div class="phone-code-wrapper" data-bind="text: phoneCode">+ ( ... )</div>
                        </div>
                        <span class="user-form-message" data-bind="visible: isPhoneErrorVisible()">@Resources.EnterValidPhoneNumber</span>
                    </div>
                </div>
                <div class="user-form-row">
                    <div class="user-form-input-holder selectbox">
                        <div class="user-form-selectbox" data-bind="selectBox: { options: [ { value: 'Teacher', name: '@Resources.Teacher' }, { value: 'Trainer', name: '@Resources.Trainer' }, { value: 'Subject matter expert', name: '@Resources.SubjectMatterExpert' }, { value: 'eLearning expert', name: '@Resources.ElearningExpert' }, { value: 'Instructional designer', name: '@Resources.InstructionalDesigner' }, { value: 'eLearning manager', name: '@Resources.ELearningManager' }, { value: 'Student', name: '@Resources.Student' }, { value: 'Other', name: '@Resources.OtherRole' }], optionsText: 'name', optionsValue: 'value', value: userRole, defaultText: '@Resources.RoleQuestion' }"></div>
                    </div>
                </div>
                <div class="user-form-row submit">
                    <div class="formBtn">
                        <button class="orange btn user-form-btn" data-bind="click: signUp, css: { 'disabled': isSignupRequestPending() || !isFormValid() }, enable: !isSignupRequestPending() && isFormValid()">
                            <img class="preloader" src="/Content/images/account/signup-preloader.gif" data-bind="visible: isSignupRequestPending" />
                            <span class="title">@Resources.Finish</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
