@using AccountRes

@{
    ViewBag.Title = Resources.TryNow;
    Layout = "~/Views/Account/_Layout.cshtml";
}
<section class="view-module try-now">
    <div class="user-title">@Html.Raw(Resources.TryTitle)</div>
    <div class="user-try">
        <div class="try-subtitle">@Resources.TrySubtitle</div>
        @using (Html.BeginForm("TryWithoutSignup", "Account", FormMethod.Post))
        {
            <button type="submit" class="btn blue try-btn">
                @Resources.TrySubmitCaption
                <i class="try-btn-icon"></i>
            </button>
            <div class="clear"></div>
            <div class="try-note">
                @Resources.TryWarningMessage
            </div>
        }
    </div>
    <div class="try-images">
        <div class="try-small-row">
            <div class="try-image-left">
                <div class="try-image-left-holder">
                    <img class="try-image-left-img" src="../../Content/images/account/try-left.png" alt="#" />
                    <div class="try-image-top-text">
                        @Resources.TryImageDevelopOn
                    </div>
                </div>
            </div>
            <div class="try-image-center">
                <div class="try-image-center-holder">
                    <img class="try-image-center-img" src="../../Content/images/account/try-center.png" alt="#" />
                    <div class="try-image-bottom-text">
                        @Resources.TryImagePublishTo
                    </div>
                </div>
            </div>
        </div>
        <div class="try-image-right">
            <div class="try-image-right-holder">
                <img class="try-image-right-img" src="../../Content/images/account/try-right.png" alt="#" />
            </div>
        </div>
        <div class="clear"></div>
    </div>

</section>
