@using System.Web.Optimization
@using easygenerator.Infrastructure
<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=640,maximum-scale=1.0">
    <meta name="description" content="">
    <title>easygenerator</title>

    @Styles.Render("~/Content/css")
    @Html.Partial("_mixpanelAnalytics")
    @Html.Partial("_nudgespotAnalytics")
</head>
<!--[if IE 9]>
<body class="ie9">
<!--<![endif]-->
<!--[if !IE 9]>
<body>
<!--<![endif]-->
<div class="app-wrapper">
    <div id="applicationHost">
        <div class="circular-loader x32 black-circle align-center">
            <div class="circular-loader-item"></div>
            <div class="circular-loader-item"></div>
            <div class="circular-loader-item"></div>
            <div class="circular-loader-item"></div>
            <div class="circular-loader-item"></div>
            <div class="circular-loader-item"></div>
            <div class="circular-loader-item"></div>
            <div class="circular-loader-item"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var CKEDITOR_BASEPATH = '/Scripts/ckeditor/';
</script>

@Scripts.Render("~/scripts/vendor")
<script src="signalr/hubs"></script>

@if (Request.UserLanguages != null && Request.UserLanguages.Length > 0)
{
    var userCultures = Request.UserLanguages.Select(l => l.Split(';')[0]).ToList();
    <script type="text/javascript">

        window.top.userCultures = [];
        @for (var i = 0; i < userCultures.Count(); i++)
            {
                <text>window.top.userCultures.push('@userCultures[i]');</text>;
            }
    </script>
}

@if (HttpContext.Current.IsDebuggingEnabled)
{
    <script src="/Scripts/require.js" data-main="/App/main"></script>
}
else
{
    var bundlePath = "/App/main-built.js?v=" + DateTimeWrapper.InstanceStartTime.Ticks;
    <script type="text/javascript" src="@bundlePath"></script>
}

</body>
</html>
