@using System.Web.Optimization
<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=640,minimum-scale=0.5,maximum-scale=1.0">
    <meta name="description" content="">
    <title>easygenerator</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/scripts/modernizr")
</head>
<body>

    <div class="wrapper">
        <div class="content-container">
            <div id="applicationHost">
                <div class="icon-spinner-wrapper">
                    <img src="~/Content/images/loader.gif" alt=""/>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var CKEDITOR_BASEPATH = '/Scripts/ckeditor/';
    </script>

    @Scripts.Render("~/scripts/vendor")
    @{ Html.RenderPartial("GoogleAnalytics"); }

    @if (Request.UserLanguages != null && Request.UserLanguages.Length > 0)
    {
        var userCultures = Request.UserLanguages.Select(l => l.Split(';')[0]).ToList();
        <script type="text/javascript">

            window.top.userCultures = [];
            @for (var i = 0; i < userCultures.Count(); i++)
            {
                <text>window.top.userCultures.push('@userCultures[i]');</text>;
            }
        </script>
    }

    @if (HttpContext.Current.IsDebuggingEnabled)
    {
        <script src="/Scripts/require.js" data-main="/App/main"></script>
    }
    else
    {
        var bundlePath = "/App/main-built.js?v=" + DateTime.Now.Ticks;
        <script type="text/javascript" src="@bundlePath"></script>
    }

</body>
</html>
