@using System.Configuration
@using System.Threading
@using System.Web.Optimization
@using easygenerator.Infrastructure
@using easygenerator.Web.Components

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=640,maximum-scale=1.0">
    <meta name="description" content="">
    <title>easygenerator</title>

    @Styles.Render("~/Content/css")
    @Html.Partial("_mixpanelAnalytics")
    @Html.Partial("_nudgespotAnalytics")
</head>
<body>
    @if (BrowserSupport.IsSupportedDevice(HttpContext.Current.Request.UserAgent))
    {
        if (BrowserSupport.IsFullySupportedBrowser(HttpContext.Current.Request.UserAgent, HttpContext.Current.Request.Browser) || BrowserSupport.IsPartiallySupportedBrowser(HttpContext.Current.Request.UserAgent, HttpContext.Current.Request.Browser))
        {
            <div id="app" class="application">
                <div class="circular-loader x32 black align-center">
                    <div class="circular-loader-item"></div>
                    <div class="circular-loader-item"></div>
                    <div class="circular-loader-item"></div>
                    <div class="circular-loader-item"></div>
                    <div class="circular-loader-item"></div>
                    <div class="circular-loader-item"></div>
                    <div class="circular-loader-item"></div>
                    <div class="circular-loader-item"></div>
                </div>
            </div>
        }

        if (!BrowserSupport.IsFullySupportedBrowser(HttpContext.Current.Request.UserAgent, HttpContext.Current.Request.Browser))
        {
            @Html.Partial("notSupportedPage")
        }
    }
    else
    {
        @Html.Partial("notSupportedDevicePage")
    }

    @Scripts.Render("~/scripts/vendor")
    <script src="signalr/hubs"></script>

    <script type="text/javascript">
        var CKEDITOR_BASEPATH = '/Scripts/ckeditor/';
    </script>
    @Scripts.Render("~/scripts/ckeditor.min")
    <script type="text/javascript">
        CKEDITOR.timestamp = @DateTimeWrapper.InstanceStartTime.Ticks;
    </script>

    @if (Request.UserLanguages != null && Request.UserLanguages.Length > 0)
    {
        var userCultures = Request.UserLanguages.Select(l => l.Split(';')[0]).ToList();
        <script type="text/javascript">

            window.top.userCultures = [];
            window.top.appVersion = @DateTimeWrapper.InstanceStartTime.Ticks;
            window.top.BOMSymbol = '\ufeff';

            @for (var i = 0; i < userCultures.Count(); i++)
        {
            <text>window.top.userCultures.push('@userCultures[i]');</text>;
        }
        </script>
    }

    <script type="text/javascript">
        @if (!String.IsNullOrEmpty(ConfigurationManager.AppSettings["StorageServiceUrl"]))
        {
        <text>
        window.storageServiceUrl = '@ConfigurationManager.AppSettings["StorageServiceUrl"]';
        </text>
        }
        //bootstraper
        (function() {
            if (window.auth.isUserLoggedIn()) {
                var js = document.createElement('script');
                js.type = 'text/javascript';
                js.async = true;
                @if (HttpContext.Current.IsDebuggingEnabled)
                {<text>
                js.src = "/Scripts/require.js";
                js.dataset.main = "/App/main";
                </text>}
                else
                {<text>
                js.src = '@("/App/main-built.js?v=" + DateTimeWrapper.InstanceStartTime.Ticks)';
                </text>
                }
                document.body.appendChild(js);
            }
            else {
                window.location.replace('/signin');
            }
        }());
    </script>

</body>

</html>
