@using System.Web.Mvc.Html
@using ViewsResources
@using RazorEngine.Text
@model dynamic

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
          "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>@Resources.ForgotPasswordSubject</title>
</head>
<body>
    <div>
        <p>@Resources.ForgotPassMailGreeting,</p>
        <p>@Resources.ForgotPassMailRequested&nbsp;<a href="@Model.WebsiteUrl">@Model.WebsiteUrl</a>.</p>
        <p>@Resources.ForgotPassMailLinkExplanation<br/><a href="@Model.RestorePasswordUrl">@Model.RestorePasswordUrl</a></p>
        <p>@Resources.ForgotPassMailIgnoreSuggestion</p>
        <p>@Resources.ForgotPassMailThankYou</p>
        --
        <p><strong>@Resources.ForgotPassMailBestRegards,<br />@Resources.ForgotPassMailTeam</strong></p>
    </div>
</body>
</html>
