@using System.Web.Mvc.Html
@using AccountRes
@model dynamic

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>Password reset on @Model.WebsiteUrl</title>
</head>
<body>
    <div>
        Hello,
        <p>Someone recently requested a password reset for your account at <a href="@Model.WebsiteUrl">@Model.WebsiteUrl</a>.</p>
        <p>
            To reset the password please click on the link below:<br />
            <a href="@Model.RestorePasswordUrl">@Model.RestorePasswordUrl</a>
        </p>
        <p>
            If this is a mistake just ignore this e-mail - your password will not be changed. 
        </p>
        <p>
            Thank you for using easygenerator.com and have a nice day!
        </p>
        <strong>Best regards,</strong>
        <br />
        <strong>easygenerator team</strong>
    </div>
</body>
</html>
