<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>Problem with Mailchimp Auto Subscribe</title>
</head>
<body>
    <span>@Model.FailureMessage (email: @Model.Email, first name: @Model.FirstName, last name: @Model.LastName, role: @Model.Role, accessType: @Model.AccessType, country: @Model.Country) to MailChimp. Please do it manually.</span>
</body>
</html>
